.pesquisar {
    padding: 40px 50px;
    font-family: var(--font-featured);
    display: grid;
    grid-template: ". ." / 1fr minmax(20px, 120px);
    gap: 15px;
  }
  
  .porLetra {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  
  .porLetra>a {
    font-size: 28px;
    font-weight: 800;
    color: var(--v-roxo-base);
    font-family: var(--font-featured);
    text-decoration: none;
    padding: 5px;
  }
  
  .porLetra>a.disabled {
    color: var(--v-bege_escuro-base);
  }
  
  .porLetra>a.selecionado {
    color: var(--v-bege-base);
    background: var(--v-azul_turquesa-base);
    border-radius: 4px;
  }
  
  .grupoLetra {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .grupoLetra>section {
    padding-bottom: 20px;
    border-bottom: 2px solid var(--v-amarelo_mostarda-base);
    display: grid;
    grid-template: ". ." / 230px 1fr;
  }
  
  .grupoLetra>section:last-child {
    border-bottom: none;
  }
  
  .grupoLetra>section>h1 {
    font-size: 60px;
    font-weight: 900;
    color: var(--v-preto_noite-base);
    font-family: var(--font-featured);
  }
  
  .glossarioLetra,
  .glossarioLetra>div {
    display: flex;
    gap: 50px;
    flex-direction: column;
  }
  
  .glossarioLetra>div {
    gap: 10px;
  }
  
  .glossarioLetra {
    font-size: 20px;
    font-weight: 400;
    color: var(--v-preto_noite-base);
    font-family: var(--font-featured);
  }
  
  .glossarioLetra header {
    display: grid;
    grid-template: ". ." / 1fr max-content;
  }
  
  .glossarioLetra header h1 {
    font-size: 24px;
    font-weight: 600;
    color: var(--v-roxo-base);
  }
  
 
  .rightIsAdmin {
    display: flex;
    justify-content: flex-end;
  }